<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Bus Tracking</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <style>
        #map { height: 1000px; }
        #selectBus { position: absolute; top: 10px; left: 10px; z-index: 1000; background: white; padding: 10px;}
    </style>
</head>
<body>
    <div id="selectBus">
        <select id="dropdown">
            <option value="">Select a bus</option>
        </select>
    </div>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([48.476165, -123.332778], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to SocketIO server');
        });

        var markers = {};
        var polylines = {};
        var selectedVehicles = '';

        var addedRoutes = new Set();
        var addedVehicles = new Set();


        socket.on('vehicle_update', function(data) {
            console.log('Received vehicle update:', data);

            var latitude = data.latitude;
            var longitude = data.longitude;
            var route_id = data.route_id;
            var vehicle_id = data.vehicle_id;
            var vehicle_seats = data.vehicle_seats;

            //check if route is already in the dropdown menu
            //if not, adds a new route
            if (!addedRoutes.has(route_id)){
                var dropdown = document.getElementById('dropdown');
                var optionGroup = document.createElement('optgroup');
                
                optionGroup.label = route_id;
                dropdown.appendChild(optionGroup);
                addedRoutes.add(route_id);
                console.log(`Created new option group for route: ${route_id}`);
            }

            if (!addedVehicles.has(vehicle_id)){
                var optionGroup = dropdown.querySelector(`optgroup[label="${route_id}"]`);
                var option = document.createElement('option');
                option.value = vehicle_id;
                option.text = `Bus ${vehicle_id} (Route: ${route_id})`;
                optionGroup.appendChild(option);
                addedVehicles.add(vehicle_id);
                console.log(`Added bus ID ${vehicle_id} to route ${route_id}`)
            }
            //custom bus icon and settings of icon
            var busIcon = L.icon({
                iconUrl: 'static/favicon-32.png',
                iconSize: [20, 35],
                iconAnchor: [25, 97],
                popupAnchor: [-3, -80]
                
            })
            
            
            // Add marker for vehicle
            if(vehicle_id === selectedVehicles){
                if(markers[vehicle_id]){
                    markers[vehicle_id].setLatLng([latitude, longitude]);
                
                } else {
                //adds marker of bus on certain location with popup giving info on route and seats
                    markers[vehicle_id] = L.marker([latitude, longitude], {icon: busIcon}).addTo(map).bindPopup(`Route ID: ${route_id}<br>Occupancy Level: ${vehicle_seats}`);

                }
                //map.setView([latitude, longitude], 15);
            }
            // const myButton = document.getElementById('Button');
            // myButton.addEventListener('click', function() {
            //     const route_id = '${route_id}';
            //     const latitude = 48.476165;
            //     const longitude = -123.332778;

            // // Add polylines for routes
            //     if (!polylines[route_id]) {
            //         polylines[route_id] = {
            //             line: null,
            //             coordinates: []
                
            //         };
            //     }
        
            //     polylines[route_id].coordinates.push([latitude, longitude]);

            // // Remove previous polylines
            //     if (polylines[route_id].line) {
            //         map.removeLayer(polylines[route_id].line);
            // }
            
            // polylines[route_id].line = L.polyline(polylines[route_id].coordinates, {color: 'yellow'}).addTo(map);
            // });

            document.getElementById('dropdown').addEventListener('change', function(e) {
                selectedVehicles = e.target.value;

                for(var id in markers) {
                    if (markers.hasOwnProperty(id)) {
                        map.removeLayer(markers[id]);
                    }
                }
                for (var routeId in polylines) {
                    if (polylines.hasOwnProperty(routeId) && polylines[routeId].line) {
                        map.removeLayer(polylines[routeId].line);
                    }
                }
                if(selectedVehicles &&  markers[selectedVehicles]) {
                    map.addLayer(markers[selectedVehicles]);
                   // map.setView(markers[selectedVehicles].getLatLng(), 15);
                }

            });
        });
    
    </script>
</body>
</html>
