<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Live Bus Tracking</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="static/routes_polyline.js"></script>
    <style>
        #map {
            height: 850px;
        }

        #selectBus {
            position: absolute;
            top: 10px;
            left: 70px;
            z-index: 1000;
            background: white;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="selectBus">
        <select id="routeDropdown">
            <option value="">Select a route</option>
        </select>
        <select id="headsignDropdown">
            <option value="">Select a headsign</option>
        </select>
    </div>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([48.476165, -123.332778], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var markers = {};
        var polylineLayers = {};
        var selectedHeadsign = '';
        var routeToHeadsigns = {};

        // Organize route to headsigns from GeoJSON
        routes_polyline.features.forEach(feature => {
            const { route_id, headsign } = feature.properties;
            if (!routeToHeadsigns[route_id]) {
                routeToHeadsigns[route_id] = new Set();
            }
            routeToHeadsigns[route_id].add(headsign);
        });

        // Populate route dropdown
        const routeDropdown = document.getElementById("routeDropdown");
        for (let route_id in routeToHeadsigns) {
            let option = document.createElement("option");
            option.value = route_id;
            option.text = route_id;
            routeDropdown.appendChild(option);
        }

        // Populate headsigns on route selection
        routeDropdown.addEventListener("change", function (e) {
            const selectedRoute = e.target.value;
            const headsigns = Array.from(routeToHeadsigns[selectedRoute] || []);

            const headsignDropdown = document.getElementById("headsignDropdown");
            headsignDropdown.innerHTML = '<option value="">Select a headsign</option>';

            headsigns.forEach(h => {
                let opt = document.createElement("option");
                opt.value = h;
                opt.text = h;
                headsignDropdown.appendChild(opt);
            });
        });

        document.getElementById("headsignDropdown").addEventListener("change", function (e) {
            selectedHeadsign = e.target.value;

            // Add selected polyline
            routes_polyline.features.forEach(feature => {
                const { headsign } = feature.properties;
                if (headsign === selectedHeadsign) {
                    //const polyline = L.geoJSON(feature).addTo(map);
                    polylineLayers[headsign] = polyline;
                }
            });

            // Remove all markers and polylines
            Object.values(markers).forEach(m => map.removeLayer(m));
            Object.values(polylineLayers).forEach(p => map.removeLayer(p));
        });


        
        socket.on('vehicle_update', function (data) {
            const { latitude, longitude, route_id, vehicle_id, vehicle_seats, vehicle_speed, headsign } = data;

            if (!markers[vehicle_id]) {
                const busIcon = L.icon({
                    iconUrl: 'static/favicon-32.png',
                    iconSize: [20, 29],
                    iconAnchor: [10, 29],
                    popupAnchor: [0, -29],
                });

                markers[vehicle_id] = L.marker([latitude, longitude], {
                    icon: busIcon,
                    headsign: headsign
                }).bindPopup(`Route ID: ${route_id}<br>Headsign: ${headsign}<br>Occupancy Level: ${vehicle_seats}<br>Vehicle Speed: ${vehicle_speed}`);
            } else {
                markers[vehicle_id].setLatLng([latitude, longitude]);
            }

            if (headsign === selectedHeadsign) {
                map.addLayer(markers[vehicle_id]);
            } else {
                map.removeLayer(markers[vehicle_id]);
                Object.values(polylineLayers).forEach(p => map.removeLayer(p));

            }
        });
    </script>
</body>

</html>
