<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Bus Tracking</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <style>
        #map { height: 1000px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([48.476165, -123.332778], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to SocketIO server');
        });

        var markers = {};
        var polylines = {};


        socket.on('vehicle_update', function(data) {
            console.log('Received vehicle update:', data);

            var latitude = data.latitude;
            var longitude = data.longitude;
            var route_id = data.route_id;
            var vehicle_id = data.vehicle_id;
            var vehicle_seats = data.vehicle_seats;

            // var busIcon = L.icon({
            //     iconUrl: 'static/location.png',
            //     iconSize: [28, 45],
            //     iconAnchor: [22, 94],
                
            //})
            
            
            // Add marker for vehicle
            if(markers[vehicle_id]){
                markers[vehicle_id].setLatLng([latitude, longitude]);
                
            } else {
                //adds marker of bus on certain location with popup giving info on route and seats
                markers[vehicle_id] = L.marker([latitude, longitude]).addTo(map).bindPopup(`Route ID: ${route_id}<br>Occupancy Level: ${vehicle_seats}`);

            }
            
            const myButton = document.getElementById('Button');
            myButton.addEventListener('click', function() {
                const route_id = '${route_id}';
                const latitude = 48.476165;
                const longitude = -123.332778;

            // Add polylines for routes
                if (!polylines[route_id]) {
                    polylines[route_id] = {
                        line: null,
                        coordinates: []
                
                    };
                }
        
                polylines[route_id].coordinates.push([latitude, longitude]);

            // Remove previous polylines
                if (polylines[route_id].line) {
                    map.removeLayer(polylines[route_id].line);
            }
            
            polylines[route_id].line = L.polyline(polylines[route_id].coordinates, {color: 'yellow'}).addTo(map);
            });
        });
    
    </script>
</body>
</html>
